name: ➡️ Move Assigned Issue to In Progress
on:
  issues:
    types:
      - assigned
jobs:
  move-assigned-card:
    runs-on: ubuntu-latest
    steps:
      - uses: alex-page/github-project-automation-plus@v0.8.1
        with:
          project: Roadmap
          column: In Progress
          repo-token: ${{ github.token }}
